/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
background-color: lightgreen;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline;
    font-weight: 900;
    vertical-align: middle;
}

li {
    margin-top: 20px;
    list-style-type: none;
    vertical-align: middle;
}

h2 {
    margin-top: 25px;
}


/* Utils*/
.container {
    max-width: 920px;
    margin: 0 auto;
    background-color: white;
    margin-top: 40px;
    padding: 12px;
}

.box-multicolor {
    border: 1px solid black;
    font-size: 10px;
    border-radius: 15px;
    padding: 5px;
    border: none;
    color: white;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


/* Header */
#main-header {
    height: 80px;
    background-color: white;
    padding-top: 12px;
    padding-left: 20px;
}

#logo {
    vertical-align: middle;
}


/* Main */
.container.small {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 35px;

}


/*  Main - Buttons */
.button {
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.button.blue {
    color: white;
    background-color: dodgerblue;
    border: none;
}

.button.white {
    color: grey;
    background-color: white;
    border: 2px solid gray;
}


/*  Main - Lista di cose da fare */
.container.big {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 2px;
    padding-left: 35px;

}

.box-multicolor.dodgerblue {
    background-color: dodgerblue;
}

.box-multicolor.violet {
    background-color: violet;
}

.box-multicolor.green {
    background-color: green;
}

.box-multicolor.orange {
    background-color: orange;
}

.box-multicolor.purple {
    background-color: purple;
}

.box-multicolor.lightgreen {
    background-color: lightgreen;
}

.circle.verified {
    color: rgb(120, 201, 0);
    vertical-align: middle;
}

.circle.not-verified {
    color: red;
    vertical-align: middle;
}

