/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
background-color: lightgreen;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline;
    font-weight: 1000;
    vertical-align: middle;
}


/* Utils*/
.container {
    max-width: 920px;
    margin: 0 auto;
}


/* Header */
#main-header {
    height: 80px;
    background-color: white;
    padding-top: 12px;
}

#logo {
    vertical-align: middle;
}