/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
background-color: lightgreen;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline;
    font-weight: 1000;
    vertical-align: middle;
}


/* Utils*/
.container {
    max-width: 920px;
    margin: 0 auto;
    background-color: white;
    margin-top: 40px;
    padding: 12px;
}


/* Header */
#main-header {
    height: 80px;
    background-color: white;
    padding-top: 12px;
}

#logo {
    vertical-align: middle;
}


/* Main */
.container.small {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.button.blue {
    color: white;
    background-color: dodgerblue;
    border: none;
}

.button.white {
    color: grey;
    background-color: white;
    border: 2px solid gray;
}